<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/sdcard/testFile.txt</file> <!-- ѕуть дл¤ сохранени¤ -->
        <append>true</append>
        <encoder>
            <pattern>%d{dd.MM.yyyy HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender">
        <encoder>
            <pattern>%-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGCAT" />
    </root>
    <root level="ERROR">
        <appender-ref ref="FILE" />
        <appender-ref ref="LOGCAT" />
    </root>
    <root level="INFO">
        <appender-ref ref="LOGCAT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>